/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif; /* Changed font to Arial */
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(246, 234, 8);
    z-index: 1000;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347;
}

.welcome-text {
    position: absolute;
    top: 80px;
    right: 20px;
    text-align: right;
}

.welcome-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.white {
    color: white;
}

.yellow {
    color: rgb(246, 234, 8);
}

.section {
    padding: 100px 0;
    color: rgb(15, 15, 14);
}

.home-section {
    background: url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-section .content {
    max-width: 600px;
}

.home-section p.center {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4500;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.section-image {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
    float: right;
    margin-left: 40px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.custom-font {
    font-family: Arial, sans-serif;
}

.important-point {
    color: #ff6347; 
}
